---
slug: module_291/module_iframe/index
response_headers: >
  {
    "X-Frame-Options": null
  }
authorization_policies:
  - modules/siteglide_system/module_is_in_admin
layout: modules/module_291/templates/1
---

{% graphql check_core_table_exist = "modules/module_291/properties/check_core_table_exist" %}
{% if check_core_table_exist.records.results.size == 0 %}
	{% graphql generate_table = "modules/module_291/properties/generate_table" %}
{% endif %}

<h1>Manage Your Cookie Settings</h1>
<p>
  To integrate this module, copy the tags and paste them into your site as follows:
</p>
<ul>
  <li>
    In the <strong>head</strong> section, include: 
    <code>{% raw %}{% include 'modules/module_291/ws_cb_head' %}{% endraw %}</code>
  </li>
  <li>
    In the <strong>body</strong> section, include: 
    <code>{% raw %}{% include 'modules/module_291/ws_cb_body' %}{% endraw %}</code>
  </li>
</ul>

<form data-form="create">
	<h3>Color scheme</h3>
	<label for="name">Background* :</label>
	<input required name="background" id="background" type="color" class="form-control mb-4" value="{{ check_core_table_exist.records.results[0].properties['Background'] | default: '#FFFFFF' }}">
	<label for="text">Text* :</label>
	<input required name="text" id="text" class="form-control mb-4" type="color" value="{{ check_core_table_exist.records.results[0].properties['Text'] | default: '#4B494B' }}">
	<label for="primaryColor">Primary color* :</label>
	<input required name="primarycolor" id="primarycolor" type="color" class="form-control mb-4" value="{{ check_core_table_exist.records.results[0].properties['Primary color'] | default: '#533BE2' }}">

	<h3>Banner</h3>
	<label for="">Position* </label>
	<select required name="position" id="position" class="form-control mb-4">
		<option value="">--Please Select--</option>
		<option value="center" {% if check_core_table_exist.records.results[0].properties['Position'] == 'center' %}selected{% endif %}>Center</option>
		<option value="bottomLeft" {% if check_core_table_exist.records.results[0].properties['Position'] == 'bottomLeft' %}selected{% endif %}>BottomLeft</option>
		<option value="bottomRight" {% if check_core_table_exist.records.results[0].properties['Position'] == 'bottomRight' %}selected{% endif %}>BottomRight</option>
		<option value="bottomCenter" {% if check_core_table_exist.records.results[0].properties['Position'] == 'bottomCenter' %}selected{% endif %}>BottomCenter</option>
	</select>

	<h3>Icon</h3>
	<label for="">Position* </label>
	<select required name="iconposition" id="iconposition" class="form-control mb-4">
		<option value="">--Please Select--</option>
		<option value="bottomLeft" {% if check_core_table_exist.records.results[0].properties['Icon position'] == 'bottomLeft' %}selected{% endif %}>BottomLeft</option>
		<option value="bottomRight" {% if check_core_table_exist.records.results[0].properties['Icon position'] == 'bottomRight' %}selected{% endif %}>BottomRight</option>
	</select>
	<label for="name">Icon Background* :</label>
	<input required name="iconbgcolor" id="iconbgcolor" type="color" class="form-control mb-4" value="{{ check_core_table_exist.records.results[0].properties['Icon background color'] | default: '#FFFFFF' }}">
	<label for="text">Icon Text Color* :</label>
	<input required name="icontextcolor" id="icontextcolor" class="form-control mb-4" type="color" value="{{ check_core_table_exist.records.results[0].properties['Icon text color'] | default: '#533BE2' }}">

	<h3>Compliance</h3>
	<label for="">Cookie Policy URL</label>
	<input required name="compliance" id="compliance" type="text" class="form-control mb-4" value="{{ check_core_table_exist.records.results[0].properties['Compliance'] }}">

	<button class="btn btn-primary mb-5" id="submitBtn">Save</button>
</form>

<script>
	const request = ({ form }) => {
		var formData = new FormData(form);
		var data = {};
		for(var field of formData.entries()) {
			data[field[0]] = field[1];
		}

		fetch('/module_291/module_iframe/api/save-item?{% include "modules/siteglide_system/modules/auth" -%}', {
		credentials: "same-origin",
		method: "POST",
		body: JSON.stringify(data),
		headers: {
			SEC_FETCH_DEST: 'iframe'
		}
		}).then(() => {
			Swal.fire({
				title: 'Changes Saved!',
				text: 'Your updates have been successfully saved.',
				icon: 'success',
				confirmButtonText: 'Great!',
				timer: 2000,
				timerProgressBar: true,
			}).then(() => {
				window.location.href = "/module_291/module_iframe/index?{% include 'modules/siteglide_system/modules/auth' -%}";
			});
		})
	};
	const Create = event => {
		event.preventDefault();
		request({
			form: event.target
		})
	};
	const createForm = document.querySelector('[data-form="create"]');
	createForm.addEventListener("submit", Create);
</script>